@use 'main';

.logo
{
    @include main.fullCenter();
    margin: 50px 0px;
}

.profile-banner
{
    display: flex;
    margin: 0px 50px 20px;
}

.info-label
{
    color: #9F9F9F;
    font-weight: bold;
}

.icons
{
    display: block;
    margin-left: auto;
    
    input
    {
        height: 16px;
        width: 16px;
    }

    input + input
    {
        margin-left:20px;
    }
}

.user-info
{
    @include main.fullCenter();
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.25s;

    label
    {
        font-weight: bold;
    }
}

.user-info:hover
{
    background-color: #3C4245;
}

.user-avatar
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("/images/avatar.png");
    margin-bottom: 20px;
    border: 2px solid #3C5587;

}

.friends-banner
{
    @extend .profile-banner;
}

.friends-list
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.single-friend
{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 50px;
    transition: 0.25s;

    label
    {
        font-weight: bold;
        align-self: center;
    }
}

.single-friend:hover
{
    background: #3C4245;
    cursor: pointer;

    .online
    {
        border: 2px solid #3C4245;
    }
}

.friend-avatar-red
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/avatar_1.png");
    margin-right: 20px;
    position: relative;
    border: 2px solid #873C3C;
}

.friend-avatar-blue
{
    @extend .friend-avatar-red;
    border: 2px solid #3C5587;
}

.friend-avatar-gold
{
    @extend .friend-avatar-red;
    border: 2px solid #81873C;
}


.online
{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #3D9A33;
    border: 2px solid #272C2E;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 0.25s;
}