@use 'main';

.logo
{
    @include main.fullCenter();
    margin-bottom: 50px;
}

.profile-banner
{
    display: flex;
    margin-bottom: 20px; 
}

.info-label
{
    color: #9F9F9F;
    font-weight: bold;
}

.icons
{
    display: block;
    margin-left: auto;
    input
    {
        height: 16px;
        width: 16px;
    }
    :not(:first-child)
    {
        margin-left: 20px;
    }
}

.user-info
{
    @include main.fullCenter();
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    margin: 0px -50px 20px;
    cursor: pointer;

    label
    {
        font-weight: bold;
    }

    img
    {
        margin-bottom: 20px;
    }
}

.user-info:hover
{
    background-color: #3C4245;
}

.friends-banner
{
    @extend .profile-banner;
}