@use 'main';

.settings-background
{
    position: absolute;
    height: 100%;
    width: 100%;
    @include main.fullCenter();
    background-color: rgba( #000000,  0.5);
    display: none;
}

.settings
{
    width: 1000px;
    height: 600px;
    background-color: #0E1111;
    display: flex;
    flex-direction: row;
}

.nav-settings
{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: #272C2E;
}

.nav-settings-element
{
    cursor: pointer;
    display: flex;
    flex-direction: row;

    label
    {
        margin: 20px 0px 20px 30px;   
        cursor: pointer;
    }
}

.nav-settings-element:hover
{
    background-color: #3C4245;
}

.current-element
{
    width: 10px;
    height: 100%;
    margin-right: -10px;
    background-color: #617FBB;
}

.change-photo
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px;

    label
    {
        font-size: 20px;
    } 

    #info
    {
        font-size: 16px;
        font-weight: normal;
        margin-top: 20px;
    }

    button
    {
        align-self: center;
    }
}

.avatar-center
{
    flex: 1;
    @include main.fullCenter();
}

.avatar-big
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("/images/avatar_2.png");
    background-size: cover;
    cursor: pointer;
}

.notifications-background
{
    @extend .settings-background;
    display: flex;
}

.notifications-window
{
    width: 900px;
    height: 600px;
    background-color: #0E1111;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .separator
    {
        margin: 20px 50px;
    }
}

#notify-label
{
    margin: 50px 0px 0px 50px;
    font-size: 24px;
    color: #FFFFFF;
}

.information-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 50px;

    label
    {
        color: #9F9F9F;
    }

    input
    {
        margin-left: auto;
    }
}

.single-information
{
    padding: 20px 50px;
    display: flex;

    label
    {
        font-weight: normal;
        text-align: justify;
    }
}

.single-information:hover
{
    background-color: #272C2E;
}

.friends-notifications-bar
{
    @extend .information-bar;
}


.single-friend-request
{
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    input
    {
        margin-left: auto;
    }

    .icons
    {
        input
        {
            width: auto;
            height: auto;
        }
    }
}

.single-friend-request:hover
{
    background-color: #272C2E;
}

#id1
{
    background-image: url("/images/sarada.jpg");
}

#id2
{
    background-image: url("/images/kaneki.jpg");
}

#id3
{
    background-image: url("/images/raki.jpg");
}

#id4
{
    background-image: url("/images/horo.jpg");
}