@use 'main';

.settings-background
{
    position: absolute;
    height: 100%;
    width: 100%;
    @include main.fullCenter();
    background-color: rgba( #000000,  0.5);
    display: none;
    opacity: 0;
}

.settings
{
    width: 1000px;
    height: 600px;
    background-color: #0E1111;
    display: flex;
    flex-direction: row;
}

.nav-settings
{
    display:flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: #272C2E;
}

.nav-settings-element
{
    cursor: pointer;
    display: flex;
    flex-direction: row;

    label
    {
        margin: 20px 0px 20px 30px;   
        cursor: pointer;
    }
}

.nav-settings-element:hover
{
    background-color: #3C4245;
}

.current-element
{
    width: 10px;
    height: 100%;
    margin-right: -10px;
    background-color: #617FBB;
}

.change-photo
{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px;

    label
    {
        font-size: 20px;
    } 

    #info
    {
        font-size: 16px;
        font-weight: normal;
        margin-top: 20px;
    }

    button
    {
        align-self: center;
    }
}

.avatar-center
{
    flex: 1;
    @include main.fullCenter();
}

.avatar-big
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("/images/avatar_2.png");
    background-size: cover;
    cursor: pointer;
}

.notifications-background
{
    @extend .settings-background;
}

.notifications-window
{
    width: 500px;
    height: 600px;
    background-color: #0E1111;
    display: flex;
    flex-direction: column;
}

.window-title-label
{
    margin: 40px 0px 40px 40px;
    font-size: 24px;
    color: #D1D1D1;
}

.gray-separator
{
    height: 1px;
    background-color: #6A6A6A;
}

.notifications
{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 40px;
}

.single-notification
{
    display: flex;
    flex-direction: column;
    margin: 0px 40px 20px 40px;
}

.single-notification + .single-notification
{
    border-top: 1px #323232 solid;
    padding-top: 20px;
}

.single-notification-message
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label
    {
        font-weight: normal;
        color: #D1D1D1;
        margin-left: 20px;
        text-align: justify;
    }
}

.creation-time
{
    color: #5F5F5F;
    margin-left: 52px;
}

.add-friend-background
{
    @extend .notifications-background;
}

.add-friend-window
{
    @extend .notifications-window;
}

.search-user-container
{
    position: relative;
    margin: 40px 40px 20px 40px;

    img
    {
        position: absolute;
        padding: 20px;
    }
}

.search-user
{
    padding: 20px 20px 20px 56px;
    background-color: #1C2123;
    color: #5F5F5F;
    border: none; 
    width: 100%;
    box-sizing: border-box;
}

.search-user::placeholder
{
    color: #5F5F5F;
}

.invited-players
{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    overflow-y: auto;
    overflow-x: hidden;
}

.invitations
{
    @extend .invited-players;
    padding-top: 20px;
}

.single-friend-request
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;

    input
    {
        margin-left: auto;
    }

    label
    {
        color: #D1D1D1;
    }
}

.single-friend-request + .single-friend-request
{
    border-top: 1px  #323232 solid; 
}

.friends-notifications-background
{
    @extend .add-friend-background;
}

#id1
{
    background-image: url("/images/sarada.jpg");
}

#id2
{
    background-image: url("/images/kaneki.jpg");
}

#id3
{
    background-image: url("/images/raki.jpg");
}

#id4
{
    background-image: url("/images/horo.jpg");
}